<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-10 my-5">
      <h1 class="text-center">Sua autenticação foi realizada com Sucesso!</h1>
      <p class="text-center lead my-5">Criado com objetivo de auxiliar no meu aprendizado acerca do NodeJS e JavaScript</p>
      
      <p class="text-center lead my-5">Para ter acesso as outras telas do sistema, faça seu Login e/ou cadastro!</p>

      <p class="text-center lead my-5">Bem vindo ao Sistema!</p>
        
    
    </div>

    <div class="col-lg-1"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>